#nameContainer {
	/*border:1px solid #787878;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
}

#nameContainer div:first-of-type {
    position: relative;
	top: 40%;
	transform: translateY(-50%);
    text-align: center;
}

#selectedName {
    font-family: 'Barlow Semi Condensed', Helvetica, sans-serif;
    font-size: 52px;
}

#alias {
    font-family: 'Barlow Semi Condensed', Helvetica, sans-serif;
    font-size: 32px; 
}

#desc {
    font-family: 'Barlow Semi Condensed', Helvetica, sans-serif;
    font-style: italic;
    font-size: 22px; 
}